[Unit]
Description=Command agent
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/cmd_agent
ExecStart=/usr/bin/python3 agent.py
Environment="AUTH_TOKEN="
Environment="ENABLE_SSL="
StandardOutput=append:/var/log/cmd_agent/output.log
StandardError=append:/var/log/cmd_agent/error.log

[Install]
WantedBy=multi-user.target
