[Unit]
Description=Command agent
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/cmd_agent
ExecStart=/usr/bin/python3 agent.py

[Install]
WantedBy=multi-user.target
